/*jumbotron formatting*/
.jumbotron{
    background-color:  #d6d6c2;
    text-align: center;
}

.display-4{
    font-weight: bold;
    font-size: 50px;
}

.lead {
    font-size: 25px;
}


/*filter box formatting*/
.panel {
    background-color: #d6d6c2;
}


.well {
    border: 3px solid;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#selDataset {
    font-size: 15px;
    padding-left: 7px;
    padding-right: 1px;
}

#selDataset2 {
    font-size: 15px;
}


/*body formatting*/
body {
    background-color: #f5f5f0;
}

.maintext {
    padding-top: 20px;
    padding-left: 50px;
}

.row {
    padding-left: 65px;
    padding-top: 30px;
}





