/*navbar formatting*/
.navbar {
    height: 100px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 45px;
}

.navbar-collapse {
    position: absolute;
    right: 5%;
    font-size: 20px;
}

.dropdown-item {
    font-weight: bold;
}

